variables:
    ArmTemplateRoot: '$(Build.SourcesDirectory)\Resources\ArmTemplates' 

resources:
  repositories:
  - repository: self
  - repository: dfc-devops
    type: github
    name: SkillsFundingAgency/dfc-devops
    ref: refs/tags/v1.3.0
    endpoint: 'GitHub (ESFA)'

jobs:

- job: BuildAndTestArmTemplate
  displayName: BuildAndTestArmTemplate
  pool:
    name: Continuous Integration 02 - SSD - 160ACU
    demands:
    - msbuild
    - visualstudio

  steps:
  - template: AzureDevOpsTemplates/Build/dfc-arm-build.yml@dfc-devops
    parameters:
      ArmTemplateRoot: $(ArmTemplateRoot)
  - task: PublishBuildArtifacts@1
    displayName: Publish Artifact
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: AzureResources